.body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.cabecalho {
 text-align: center;
 padding: 2px;
}

.banner {
	background-color: #000000;
	padding: 40px 15px;
}

.banner--titulo1 {
	color: white;
	font-size: 24px;
}

.artigo {
	padding-bottom: 10px;
}

.artigo--titulo2 {
	border: 3px solid #ffe400;
	background-color: #fffbdd;
	font-size: 20px;
	padding: 2px;
}

.artigo--paragrafo {
	
}