 @import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
.body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.cabecalho {
 text-align: center;
 padding: 2px;
}

.banner {
	background-color: #000000;
	padding: 40px 15px;
}

.banner--titulo1 {
	color: white;
	font-size: 24px;
}

.link--titulo {
	text-decoration: none;
	color: #000000;
	font-family: 'Jim Nightshade', cursive;
	font-size: 26px;
}


.artigo {
	padding-bottom: 10px;
	border-top: 1px solid;
}

.artigo--titulo2 {
	background-color: #fffbdd;
	font-size: 20px;
	padding: 2px;
}

.artigo--paragrafo {
	
}